@import "reset.css";

:root {
    --main-font-size: 1.3rem;
}

#header {
    padding: 3rem;
    margin-bottom: 3rem;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 5em;
}

.buttons * {
    padding: 0.3em 0.8em;
    font-size: var(--main-font-size);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-template-rows: 20rem;
    grid-auto-rows: 20rem;
    gap: 2rem;
    padding: 1rem 20rem;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 1em 1em;
    border-radius: 20px;
    font-size: var(--main-font-size);
    text-align: center;
}

.book > div {
    align-self: center;
}

.book > button {
    font-size: 1.4rem;
}

.book .title {
    font-size: calc(var(--main-font-size) + 0.2rem);
    font-weight: bold;
}

.book .author {
    font-size: calc(var(--main-font-size) + 0.1rem);
}

.book .numOfPages {
    font-size: calc(var(--main-font-size) - 0.1rem);
}

.dialog-form {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
}

.dialog-form > div {
    display: flex;
    height: 2rem;
}

.dialog-form > div * {
    flex: 1;
    font-size: var(--main-font-size);
}

.cancel-confirm-buttons {
    gap: 3rem;
}

.read-true {
    background-color: greenyellow;
}

.read-false {
    background-color: plum;
}

.title-div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.title-div .error-div {
    color: rgb(255, 94, 94);
    font-size: 1rem;
}